{% extends 'dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Passport Info Add Form</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Passport Info Add Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add New Passport Detail</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
              {% endif %}
              <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                          {{ form.name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                          {{ form.passport_no|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.country|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.cost|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.reference|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.pp_photo|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.passport|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                    {{ form.qualification_certificate|as_crispy_field }}
                            </div>
                                <div class="form-group col-md-6 mb-0">
                                    {{ form.working_certificate|as_crispy_field }}
                                </div>
                        </div>
                              {{form.entry_date | as_crispy_field}}
                                  
                    {{ form.status | as_crispy_field }}
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  bsCustomFileInput.init();
});
$(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>
</div>
{% else %}
<meta http-equiv="refresh"
      content="0; url = http://127.0.0.1:8000/login" /> 
{% endif %}
{% endblock %}
